@import "null";

.header {
  width: 100%;
  min-height: 70px;
  position: fixed;
  top: 0;
  transition: 0.3s;
  z-index: 2;
}


.header__body{
  @extend %flex-full;
  padding: 26px 0;
}

.logo__link{
  @extend %flex-full;
  font-weight: 600;
  font-size: 22px;
  line-height: 33px;
  color: $color-null;
  position: relative;
  z-index: 2;
  img{
    padding-right: 12px;
  }
}

.menu{
  transition: 0.3s;
}

.menu__list{
  @extend %flex-full;
  & > li + li {
    margin-left: 42px;
  }
  & li:hover .menu__inner-list {
    display: block;
  }
  li:hover{
    span{
      transform: rotate(180deg);
    }
  }
  & > li:nth-child(2) {
    margin-right: 18px;
  }
}

.menu__link, .menu__inner-link{
  font-size: 16px;
  line-height: 24px;
  font-weight: 500;
  color: rgba(255, 255, 255, 0.55);
  transition: 0.3s;
  &:hover{
    color: #fff;
  }
}

.menu__link_fall{
  position: relative;
}

.menu__inner-list{
  display: none;
  position: absolute;
  top: 56px;
  background-color: #323C45;
  border-bottom-right-radius: 8px;
  border-bottom-left-radius: 8px;
  li{
    cursor: pointer;
    transition: 0.3s;
    &:hover{
      background-color: #23292E;
      .menu__inner-link{
        color: #fff;
      }
    }
    padding: 7px 15px;
  }
}

.menu__link_fall{
  position: relative;
  span{
    position: absolute;
    top: 3px;
    background: url('../img/arrow.svg') no-repeat center;
    width: 18px;
    height: 18px;
    transition: 0.3s;
  }
}

.mobile-arrow{
  width: 46px;
  height: 46px;
  border-top: 2px solid gray;
  transform: rotate(-90deg);
}

.sign{
  position: relative;
  z-index: 2;
  @extend %flex-full;
}

.burger{
  display: none;
}

.btn{
  background-color: $color-m;
  border-radius: 8px;
  padding: 8px 28px;
  color: #fff;
  transition: 0.3s;
  &:hover{
    box-shadow: 0px 0px 10px rgba(255, 110, 48, 1);
  }
}

.sign__btn{
  margin-right: 41px;
  transition: 0.3s;
  &:hover{
    color: $color-m;
  }
}

.arrow-fall{
  display: none;
}

// hero start

.hero{
  background: url(../img/desktop.svg) no-repeat right bottom;
  height: 100vh;
  min-height: 800px;
}

.hero__body{
  margin-top: 30px;
}

.about{
  max-width: 600px;
}

.about__title{
  line-height: 70px;
  font-size: 50px;
  font-weight: 500;
  .title-color{
    color: $color-m;
  }
  span{
    display: inline-block;
  }
}

.about__subtitle{
  font-size: 18px;
  color: rgba(255, 255, 255, 0.55);
  margin: 31px 0 57px;
  line-height: 30px;
}

.form__body{
  padding: 0 18px;
  background-color: #283036;
  border-radius: 15px;
  max-width: 497.66px;
  @extend %flex-full;
}

.form__find{
  color: rgba(255, 255, 255, 0.38);
  width: 100%;
  padding: 21px 0 21px 35px;
  background: url(../img/search.svg) no-repeat left center;
  border: 0;
}

.form__btn{
  padding: 12px 26px;
}

.hero__icons{
  max-width: 190px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 1px;
  margin-top: 110px;
}

// most

.most__about{
  margin: 0 auto 90px;
  text-align: center;
  max-width: 455px;
}

.most__subtitle{
  max-width: 335px;
  line-height: 157%;
  margin: 25px auto;
}

.most__po{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  column-gap: 25px;
  row-gap: 100px;
}

.most__item{
  border-radius: 15px;
  transition: 0.3s;
  max-width: 359px;
  padding: 33px;
  &:hover{
    background: rgba(40, 48, 54, 0.6);
    backdrop-filter: blur(50px);
    box-shadow: 0 0 10px #333;
    transform: scale(1.1, 1.1);
    .most__po-price{
        color: rgba(255, 165, 55, 1)
    }
    .most__btn{
      background-color: $color-m;
      border-radius: 8px;
      padding: 8px 28px;
      color: #fff;
      transition: 0.3s;
      &:hover{
        box-shadow: 0px 0px 10px rgba(255, 110, 48, 1);
      }
    }
  }
}

.most__header{
  @extend %flex-full;
  max-width: 170px;
  margin-bottom: 25px;
}

.most__po-icon{
  max-height: 64px;
}

.most__po-name{
  font-weight: 500;
  font-size: 24px;
  line-height: 36px;
}

.most__po-price{
  color: rgba(255, 165, 55, 0.55)
}

.heart{
  width: 28px;
  height: 28px;
  padding: 18px;
  background: url(../img/heart.svg) no-repeat center;
  border-radius: 8px;
  &.active{
    background: url(../img/heartRed.svg) no-repeat center;
    box-shadow: 0px 5px 10px -3px rgba(18, 18, 18, 0.15);
  }
}

.most__footer{
  margin-top: 25px;
  @extend %flex-full;
}

.most__add{
  cursor: pointer;
  width: 28px;
  height: 28px;
  padding: 18px;
  background: url(../img/add.svg) no-repeat center;
  background-size: 22px;
}

.most__like{
  cursor: pointer;
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 20px;
}

.most__btn{
  padding: 8px 28px;
}

.most__item_vscode{
  .most__po-icon{
    max-width: 46px;
  }
}

.most__item_invision{
  .most__po-icon{
    max-width: 50px;
  }
}

.most__btn-more{
  color: $color-m;
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 8px;
  padding: 17px 38px;
  margin: 100px auto;
  display: block;
  max-width: 184px;
  text-align: center;
  transition: 0.3s;
  &:hover{
    border: 1px solid $color-m;
    background-color: $color-m;
    color: #fff;
  }
}

@import "adaptive";